 <!-- <div class="container">
  <h2>Welcome Admin</h2>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
  <br /><br />
  <button class="btn btn-primary" (click)="goToTests()">Tests</button>
  <button class="btn btn-secondary" (click)="goToReports()">Reports</button>
</div> -->


<h1 class="heading">"Assign Tests / View Reports"</h1>
<div class="container">
<div class="card">
    <div class="icon">📝</div>
    <h2>ALL TESTS</h2>
    <p>Add Test for Users / Assign Test to Users</p>
    <button class="view-details" (click)="goToTests()">Go-Tests</button>
</div>
<div class="card">
    <div class="icon">📊</div>
    <h2>ALL REPORTS</h2>
    <p>Check All User Reports / See Detailed Reports </p>
    <button class="view-details"  (click)="goToReports()">Reports</button>
</div>
</div> 